[submodule "submodules/tinyobjloader"]
	path = submodules/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = git@github.com:g-truc/glm.git
